

<div id="cluster-container">
  <%= render partial: '/clusters/cluster' %>
  <div class="add-category">
    <%= link_to 'ADD A NEW CATEGORY', new_cluster_path, class: 'add-category-a' %>
  </div>
</div>