<p>Please login to track your transactions! </p>
<div class="pages-container">
    <ul>
    <li class="login-button">
    <%= link_to 'Login', new_user_session_path %>
    </li>
    <li class="sign-up-button">
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
    </ul>
</div>