<h1>Editing association</h1>

<%= render "form", association: @association %>

<br>

<div>
  <%= link_to "Show this association", @association %> |
  <%= link_to "Back to associations", associations_path %>
</div>
